.canvas#instructions {
  background: rgb(19,92,108);
  background: linear-gradient(180deg, rgba(19,92,108,1) 0%, rgba(19,92,108,1) 52%, rgba(19,92,108,0.7133228291316527) 100%);
  color: white;
  font-weight:400;
  .important-text {
    font-weight: bold;
  }
  .life-tokens-section {
    border-top: 2px solid white;
    padding-top: 10px;
    p {
      font-size: 12px;
    }
    .life {
      height: 33px;
      width: 33px;
      border-radius: 5px;
      background-color: white;
      svg {
        height: 100%;
        width: 100%;
        padding: 8px;
        fill: $secondary-color;
      }
    }
  }
  .ready-to-play-button {
    margin-top: 55px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: white;
    color: $secondary-color;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}