.canvas#intro {
background: rgb(19,92,108);
background: linear-gradient(180deg, rgba(19,92,108,1) 0%, rgba(19,92,108,1) 52%, rgba(19,92,108,0.7133228291316527) 100%);
img {
  width:250px;
  height:250px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(77, 76, 76));
  filter: drop-shadow(5px 5px 5px rgb(77, 76, 76));
}
.logo {
    font-size: 70px;
    font-weight: 600;
    color: white;
    margin-bottom: 150px;
    line-height: 70px;
  }
}