.canvas#intro {
background: rgb(19,92,108);
background: linear-gradient(180deg, rgba(19,92,108,1) 0%, rgba(19,92,108,1) 52%, rgba(19,92,108,0.7133228291316527) 100%);
.logo {
    font-size: 30px;
    font-weight: 900;
    color: white;
  }
}