.canvas#summary {
  // background: rgb(19,92,108);
  // background: linear-gradient(180deg, rgba(19,92,108,1) 0%, rgba(19,92,108,1) 52%, rgba(19,92,108,0.7133228291316527) 100%);
  .back-button {
    margin-top: 40px;
    @media (max-width: 575.98px) {
      margin-top: 10px;
    }
  }
  .fa {
    font-size: 30px;
    padding: 3px;
    color: gold;
    width: 36px;
    // border: 1px solid white;
  }
  .quick-summary{
    margin-top:40px;
    margin-bottom:35px;
    color: white;
    @media (max-width: 575.98px) {
      margin-bottom:5px;
    }
  }
  .summary-section {
    .results-box{
      font-size:16px;
      width:280px;
      margin: 10px auto;
      border: 1px solid white;
      font-weight: 700;
      background-color: white;
      @media (max-width: 575.98px) {
        width: 80%;
      }
      .value {
        padding: 8px;
        color: $secondary-color;
        background-color: white;

      }
      .field {
        padding: 8px;
        color: white;
        background-color: $secondary-color;
        width: 50%;
        &.title{
          width: 100%;
          font-size: 25px;
          text-align: center;
        }
      }
    }
    .talent-like{
      margin-bottom: 50px;
      @media (max-width: 575.98px) {
        margin-bottom: 25px;
      }
      .description {
        width: 280px;
        font-size:13px;
        font-weight: bold;
        padding:8px;
        background-color: white;
        margin: 10px auto;
        @media (max-width: 575.98px) {
          width: 80%;
        }

        // border-radius: 5px 0 0 5px;
        p {
          margin-bottom: 0;
        }
      }
      .reflection-image {
        margin: 0 auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: white;
        object-fit: cover;
        max-width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 3px solid white;
        display: block;
      }
      .reflection-name {
        margin: -15px auto 0;
        display: inline-block;
        padding:0 10px;
        border-radius: 5px;
        background-color: white;
        font-size:14px;
        font-weight: bold;
      }
    }
  }
  .back-arrow svg{
    height: 44px;
    width: 44px;
    fill: white;
  }
}
